@model Wine

<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td class="leftcol">
            <img src="/img/вино.jpg"
                 width="520" alt="Вы не поверите, но это ёжик">
        </td>
        <td valign="top" style="border: 20px solid; border-color:white;">
            <h4>@Model.Category?.Name, @Model.Name, @Model.Year</h4>
            <p>@Model.Description</p> 
            <div>
                <form id="@Model.Id" asp-action="AddToCart"
                      asp-controller="Cart" method="post">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <span class="card-text p-1">
                        <button type="submit"
                                class="btn btn-primary btn-sm">
                            В корзину
                        </button>
                    </span>
                </form>
            </div>
        </td>
    </tr>
</table>